.message-box {
    background-color: #daecff;
    width: 100%;
    height: calc(100% - 125px);
    overflow: auto;
    /* overflow: scroll; */
    /* margin-bottom: 500px; */
}

.input-field {
    position: fixed;
    width: 100%;
    /* width:calc(100% - 17px); */
    background-color: white;
    bottom: 0;
    height: 50px;
}
.bottom-solid{
    width: 100%;
    height: 50px;
}

button[type=submit].message-send{
    background-color: rgb(54, 54, 202);
    border-radius: 25px;
  }

input.message-input{
    border-radius: 25px;
    padding-left:25px;
}

div.cam-wrapper{
    display:flex;
    align-items: center;
    color:blue
}

.message-single{
    display:inline-block;
    /* min-width:100px; */
    border-radius:25px;
    font-size:25px;
}


.message-container{
    display:block;
}

.image-upload > input{
    display:none;
    
}
input[type=file]{
    display:none;
    
}